certifi==2021.5.30
cycler==0.11.0
decorator==4.4.2
Deprecated==1.2.14
future==0.18.3
graphtools==1.5.3
igraph==0.9.11
joblib==1.1.1
kiwisolver==1.3.1
leidenalg==0.8.4
llvmlite==0.32.1
louvain==0.6.2
matplotlib==3.3.4
networkx==2.5.1
numba==0.49.1
numpy==1.17.5
pandas==1.1.5
phate==1.0.4
PhenoGraph==1.5.7
Pillow==8.4.0
psutil==5.9.5
PyGSP==0.5.1
pyparsing==3.0.9
python==3.6.13
python-dateutil==2.8.2
python-igraph==0.9.11
python-louvain==0.16
pytz==2023.3
s-gd2==1.8.1
scikit-learn==0.24.2
scipy==1.5.4
scprep==1.0.10
seaborn==0.11.0
six==1.16.0
tasklogger==1.2.0
tbb==2021.9.0
texttable==1.6.7
threadpoolctl==3.1.0
umap-learn==0.4.1
wrapt==1.15.0
